:root {
  --color: black;
  --pick1: white;
  --pick2: black;
}

* {
  padding: 0px;
  margin: 0;
}

#container {
  width: 100vw;
  display: flex;
  background-image: linear-gradient(to right, var(--pick1), var(--pick2));
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


h3 {
  padding: 5px 10px;
}

.content {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.first {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.first.second {
  background-color: lightgray;
}
.formCover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  flex-wrap: nowrap;
  width: fit-content;
  border-radius: 20px;
}
